<!-- quotes/templates/quotes/about.html -->
{% extends 'quotes/base.html' %}

{% block content %}

    <h1>About</h1>
    <h2>Sun Tzu was a famous military general and strategist that lived from 544 BC to 496 BC. His most famous work, "The Art of War", a book detailing several military tactics (still used in today's military!), is still being read across the globe today. He fought during the Spring and Autumn Period.</h2>

    <h2>The creator of this website is a big fan of Sun Tzu, and wants to share some of his quotes and pictures to whoever visits this website.</h2>
{%endblock%}